.FilterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.SearchInput {
    border-radius: 5p;
}

input, select {
    padding: 10px 50px;
    background-color: hsl(209, 23%, 22%);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}